body {
    padding-top: 5rem;
}

.chart-canvas {
    width: 50%;
}
p, div.alert {
    width: 60%;
}

@media (max-width: 1023.99px) {
    .chart-canvas {
        width: 75%;
    }
    p, div.alert {
        width: 80%;
    }
}

@media (max-width: 767.99px) {
    .chart-canvas {
        width: 100%;
    }
    p, div.alert {
        width: 100%;
    }
}

.tip {
    font-size: 0.7rem;
    color: #777777;
}

code {
    background: #f5f5f5;
    padding: 2px;
    border-radius: 4px;
}
